:root {
  --color-primary: #000;
  --body-background: #fff;
  --font-family: "Open Sans";
  --post-color: #333;
  --header-link-color: #333;
  --switch-color: #333;
  --change-layout-icons-background: #f6f6f6;
  --change-layout-icons-color: #333;
  --change-layout-icons-color-active: #333;
  --color-text: #000;
  --base-background: #fff;
  --base-text: #000;
  --white: #fff;
  --color-1: #01c58d;
}

.dark-mode {
  --base-background: #000;
  --base-text: #fff;
  --color-text: #fff;
  --color-primary:#fff;
  --post-color:#fff;
  --header-link-color: #fff;
  --switch-color: #fff;
  --change-layout-icons-background: #fff;
  --change-layout-icons-color: #fff;
  --change-layout-icons-color-active: #333;
}

body {
  font-family: var(--font-family);
  background-color: var(--base-background);
  color: var(--base-text)
}
